*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald';
}

html,body{
	height: 100%;
}

/*-----Padrão-----*/
.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.clear{
	clear: both;
}
/*-----Padrão-----*/

/*-----Header-----*/
header{
	height: 130px;
	padding: 20px 2% 35px 2%;
}

header nav.desktop{
	float: right;
	position: relative;
	top: 26px;
}

header div.logo{
	float: left;
}

nav.mobile{
	margin: 30px;
	display: none;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url(../images/icon_menu.png);
}

nav.mobile ul{
	display: none;
	width: 100%;
	position: absolute;
	background-color: white;
	text-align: center;
	left: 0;
	top: 130px;
	z-index: 999;
	border-bottom: 4px solid #EB2D2D;
}

nav.mobile li{
	font-size: 23px;
	padding: 20px 0px;
	font-style: italic;
}

nav.mobile ul li a{
	color: black;
	text-decoration: none;
}

header nav.desktop ul{
	list-style-type: none;
}

header nav.desktop ul li{
	float: left;
	font-size: 23px;
	padding: 0 30px;
	font-style: italic;
}

header nav.desktop ul li a{
	color: black;
	text-decoration: none;
}
/*-----Header-Fim-----*/

/*-----Banner-----*/
section.banner{
	width: 100%;
	height: 600px;
	background-color: black;
	background-image: url(../images/bg.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.text-banner{
	padding: 100px;
}

.text-banner-single{
	width: 250px;
	height: 50px;
	margin-top: 20px;
	font-style: italic;
	background-image: url(../images/box-text.png);
	background-size: 100% 100%;
	color: white;
	font-size: 23px;
	padding: 10px 50px;
	text-transform: uppercase;
}

.text-banner .text-banner-single:nth-of-type(2){
	width: 200px;
	position: relative;
	left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
	width: 170px;
	position: relative;
	left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4){
	color: black;
	position: relative;
	left: -30px;
	font-size: 21px;
	padding: 10px 30px;
	background-image: url(../images/box-white-text.png);
}
/*-----Banner-Fim-----*/

/*-----Veículos em Destaque-----*/
section.veiculos-destaque{
	padding: 80px 2% 0;
}

.line-titulo{
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.ln1{
	position: absolute;
	height: 2px;
	background-color: black	;
	width: 100%;
	top: 20px;
}

.line-titulo h2{
	position: relative;
	background: white;
	display: inline-block;
	text-align: center;
	font-size: 27px;
	padding:0 20px;
	font-style: italic;
	text-transform: uppercase;
}
/*-----Veículos em Destaque-Fim-----*/

/*-----Vitrine-----*/

section.veiculos-destaque .container{
	padding: 80px 0;
}

.vitrine-destaques{
	float: left;
	width: 33.3%;

}

.vitrine-destaques .carro-img{
	width: 100%;
	padding-top: 100%;
	border: 8px solid white;
	background-size: 100% 100%;
}

.vitrine-destaques h2{
	padding-left: 8px;
	color: black;
	font-style: italic;
	font-size: 20px;
}

.vitrine-destaques p{
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
	padding-top: 8px;
}

.vitrine-destaques a{
	margin-left: 8px;
	margin-top: 13px;
}
/*-----Vitrine-Fim-----*/

/*botões*/

.btn1{
	background-color: #EB2D2D;
	text-decoration: none;
	line-height: 40px;
	display: block;
	text-align: center;
	border: 5px solid #B21E1E;
	color: white;
	font-style: italic;
	font-size: 17px;
	width: 150px;
	outline: none;
}
/*botões*/

/*-----Serviços-----*/

.servicos-descricao{
	display: flex;
}

.half1{
	width: 50%;
	padding: 90px 2%;
	background-color: #242424;
	color: white;
	text-align: right;
}

.half1-wraper{
	padding-right: 100px;
	display: inline-block;
	text-align: left;
}

.half1-wraper h2{
	font-weight: normal;
	font-style: italic;
	font-size: 34px;
}

.half1-wraper ul{
	margin-top: 20px;
	display: inline-block;
}

.half1-wraper ul li{
	margin-top: 8px;
	margin-left: 15px;
}

.half1-wraper a{
	vertical-align: bottom;
	margin-left: 40px;
	display: inline-block;
}

.half2{
	width: 50%;
	padding: 90px 100px;
	background-color: #ad3131;
	color: white;
}

.half2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 34px;
}

.half2 .depoimento-single{
	margin-top: 20px;
}

.half2 .depoimento-single p{
	font-size: 20px;
}

.navegation{
	float: left;
	margin-top: 30px;
	width: 100%;
	max-width: 700px;
}

.arrows{
	float: left;
}

.navegation img{
	margin: 0 20px;
	cursor: pointer;
}

.nome-depoimento{
	float: right;
	color: #252525;
	font-size: 20px	;
}
/*-----Serviços-Fim-----*/

/*-----Contato-----*/

section.contato{
	padding: 80px 2% 0 2%;
}

section.contato form{
	max-width: 600px;
	margin: 30px auto 0;
}

section.contato .input-wraper{
	float: left;
	padding: 10px;
	margin-top: 7px;
}

section.contato input[type=text],input[type=email]{
	border: 1px solid #ccc;
	width: 100%;
	height: 50px;
	padding-left: 15px;
	outline: none;
	font-size: 16px;
}

section.contato textarea{
	width: 100%;
	border: 1px solid #ccc;
	resize: none;
	height: 130px;
	outline: none;
	font-size: 16px;
	padding-left: 15px;
}

section.contato form .input-wraper:nth-of-type(5){
	text-align: center;
}

section.contato input[type=submit]{
	border-right: 0;
	border-top: 0;
	border-left: 0;
	cursor: pointer;
	display: inline-block;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}
/*-----Contato-Fim-----*/

/*-----Footer-----*/

footer{
	margin-top: 30px;
	padding: 40px 2%;
	background-color: #252525;
}

footer nav{
	float: left;
}

footer nav ul{
	list-style-type: none;
}

footer nav ul li{
	float: left;
	font-size: 19px;
	font-style: italic;
	padding: 0 34px;
}

footer nav a{
	color: white;
	text-decoration: none;
}

footer p{
	float: right;
	color: white;
	font-style: italic;
	font-size: 19px;
}
/*-----Footer-Fim-----*/

/*--------------------Pagina de Vendas--------------------*/

/*-----Vendas-----*/

section.venda{
	min-height: 110%;
}

.content-venda{
	margin-top: 40px;
}

/*-----SIDEBAR-----*/

.sidebar{
	padding: 0 2%;
	float: left;
	width: 30%;
}

.search1{
	width: 90%;
}

.search1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.search1 .barra-preco{
	width: 100%;
	height: 20px;
	background: white;
	margin-top: 8px;
	border-radius: 20px;
	border: 1px solid #ccc;
	position: relative;
}

.barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 20px;
	background-image: linear-gradient(to bottom,rgb(255,255,255),rgb(210,210,210));
	border-radius: 20px;
}

.pointer-barra{
	width: 26px;
	height: 26px;
	border-radius: 8px;
	border: 1px solid rgb(120,120,120);
	background-image: linear-gradient(to bottom,rgb(255,255,255),rgb(180,180,180));
	position: absolute;
	left: 0;
	top: -3px;
	cursor: pointer;
}

.valor-pesquisa{
	margin-top: 8px;
}

.valor-pesquisa{
	color: black;
	font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1){
	float: left;
}

.valor-pesquisa p:nth-of-type(2){
	float: right;
}

.search2{
	margin-top: 40px;
}

.search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.form-venda-wraper{
	margin-top: 6px;
}

.form-venda-wraper input[type=checkbox]{
	display: none;
}

.form-venda-wraper label{
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}

.form-venda-wraper input[type=checkbox]:checked + label .circle{
	display: block;
}

.circle{
	display: none;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: black;
	position: absolute;
	left: 5.2px;
	top: 5.2px;
}

.form-venda-wraper span{
	vertical-align: top;
	display: inline-block;
	padding: 0 10px;
}
/*-----SIDEBAR-FIM-----*/

/*-----Vitrine-Venda-----*/

.vitrine-venda{
	float: left;
	width: 70%;
}

.vitrine-venda .vitrine-destaques{
	margin-top: 20px;
}
/*-----Vitrine-Venda-----*/

/*--------------------Pagina de Vendas Single--------------------*/

/*-----Vitrine-Single-----*/

section.venda-single{
	padding: 80px 2% 0 2%;
}

section.venda-single .container{
	padding: 40px 0 0 0;
	max-width: 1280px;
	text-align: center;
}

.info-veiculo{
	display: inline-block;
	width: 60%;
}

.foto-destaque{
	width: 100%;
	padding-top: 70%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.description-veiculo{
	padding: 65px 2% 0 2%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.description-veiculo p{
	font-size: 17px;
	max-width: 400px;
	margin-top: 25px;
}

.description-veiculo a{
	margin-top: 25px;
}

.info-bread{
	text-align: left;
	padding-top: 30px;
}

.info-bread a{
	color: black;
	text-decoration: none;
}

.info-bread span{
	padding: 0 30px;
}

.info-bread a:last-child{
	color: red;
}

/*-----Galeria-----*/

.nav-galeria-parent{
	overflow: hidden;
	width: 100%;
	padding: 36px;
	position: relative;
}

.arrow-left-nav{
	position: absolute;
	left: 8px;
	top: 50%;
	background-image: url(../images/arrow-left.png);
	background-size: 100% 100%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	width: 22px;
	height: 22px;
}

.arrow-right-nav{
	position: absolute;
	right: 8px;
	top: 50%;
	background-image: url(../images/arrow-right.png);
	background-size: 100% 100%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	width: 22px;
	height: 22px;
}

.nav-galeria{
	width: 100%;
	overflow: hidden;
}

.nav-galeria-wraper{
	/*Via js*/
}

.mini-img-wraper{
	float: left;
	padding: 9px;
	/*Via js*/
}

.mini-img{
	width: 100%;
	padding-top: 70%;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}
/*-----Galeria-Fim-----*/
/*-----------------------------Sobre------------------------------*/

section.sobre{
	min-height: 110%;
	padding: 80px 2% 20px 2%;
}

section.sobre .container{
	max-width: 840px;
	margin-top: 30px;
}

section.sobre .img-destaque-sobre{
	width: 100%;
	padding-top: 60%;
	background-color: rgb(220,220,220);
}

section.sobre .description-author{
	margin-top: 20px;
}

.description-author h2{
	font-size: 24px;
}

.description-author p{
	line-height: 25px;
	font-size: 16px;
	margin-top: 8px;
}

.description-author2{
	margin-top: 40px;
}

.img-small{
	width: 30%;
	padding-top: 30%;
	background-color: #ccc;
	float: left;
}

.description-author2 p{
	float: left;
	width: 70%;
	padding: 17px;
	line-height: 25px;
}






























@media screen and (max-width: 1110px){
	.half1{
		text-align: center;
	}

	.half1-wraper{
		text-align: left;
		padding-right: 0;
	}

	.half1-wraper a{
		margin-top: 15px;
		margin-left: 0;
		display: block;
	}
}

@media screen and (max-width: 1024px){
	section.banner{
		height: 70vw;
		min-height: 500px;
		background-size: cover;
		background-position: center;
	}
}

@media screen and (max-width: 768px){
	.w50{
		width: 100%;
	}

	section.banner{
		background-size: cover;
		background-position: 100px center;
		height: 80vh;
	}

	nav.desktop{
		display: none;
	}

	nav.mobile{
		display: block;
	}

	section.servicos-descricao{
		flex-direction: column;
	}

	.half1,.half2{
		padding: 80px 4%;
		width: 100%;
	}

	footer nav{
		display: none;
	}

	footer{
		text-align: center;
	}

	footer p{
		float: none;
	}

	.sidebar{
		width: 100%;
		text-align: center;
	}

	.search1{
		display: inline-block;
	}

	.search2{
		text-align: left;
		display: inline-block;
	}

	.vitrine-venda{
		float: left;
		width: 100%;
		text-align: center;
	}

	.info-veiculo{
		width: 100%;
	}

	.description-veiculo{
		text-align: center;
		padding: 20px 0;
	}

	.description-veiculo a{
		display: inline-block;
	}

	.description-veiculo p{
		max-width: none;
		width: 100%;
	}
}

@media screen and (max-width: 580px){
	.text-banner{
		padding: 90px 2% 2% 50px;
	}

	.text-banner-single{
		margin-top: 15px;
		font-size: 18px;
		padding: 12px 30px;
	}

	section.veiculos-destaque .container{
		text-align: center;
	}

	.line-titulo h2{
		font-size: 23px;	
	}

	.vitrine-destaques{
	float: none;
	width: 80%;
	display: inline-block; 
	}

	.vitrine-destaques a{
		display: inline-block;
	}

	.img-small{
		width: 100%;
		padding-top: 100%;
	}
	
	.description-author2 p{
		width: 100%;
		padding: 20px 0;
	}
}

@media screen and (max-width: 480px){
	.vitrine-destaques{
		width: 100%;
	}
}